.conten_perfiles {
  display: grid;
  grid-template-columns: repeat(4, 241px);
  grid-gap: 15px 22px;
  justify-content: center;
  margin-top: 25px;
}

.perfil {
  width: 214px;
  cursor: pointer;
}

.conten_perfiles h3 {
  text-align: center;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  font-size: 27px;
  font-style: normal;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .conten_perfiles {
    display: grid;
    grid-template-columns: repeat(1, 300px);
    grid-gap: 15px 22px;
    justify-content: center;
  }

  .perfil {
    width: 100%;
  }
}
