.background {
  background: url(/background.png) no-repeat center center fixed;
  /* background-size: cover; */
  height: 100%;
  background-size: 100% 100%;
  background-color: #070707;
}

.profile {
  border: 2px solid #ece243;
  border-radius: 7px;
  opacity: 1;
  width: 234px;
  height: 43px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
}

.profile:hover {
  background-color: #ece243;
}

.profile:hover > a {
  color: #000000;
}

.profile a {
  text-decoration: none;
  color: #ffffff;
  letter-spacing: 0px;
  opacity: 1;
  font-size: 18px;
  line-height: 23px;
}

.title {
  font-size: 33px;
  line-height: 43px;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  text-align: center;
  margin: 0 0 22px;
  font-weight: 700;
}

.girl {
  margin: 0;
  color: #fff;
}

.container {
  margin: 0 auto;
  width: 705px;
}

.header {
  margin: 0px auto 35px;
  padding-top: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1000px;
}

.logo {
  height: 135px;
  width: 247px;
}

.terminos h2 {
  font-size: 33px;
  font-weight: 700;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  text-align: center;
}

.terminos ul {
  list-style: none;
  padding: 0px;
  margin: 0;
}
.terminos li {
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  font-weight: 400;
  padding-bottom: 20px;
}

.terminos p {
  font-size: 20px;
  color: #ffffff;
  line-height: 24px;
  line-height: 26px;
  letter-spacing: 0px;
  font-weight: 400;
}

.recibe h2 {
  font-size: 33px;
  font-weight: 700;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  text-align: center;
}

.recibe ul {
  list-style: none;
  padding: 0px;
  margin: 0;
}
.recibe li {
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  font-weight: 400;
  padding-bottom: 20px;
}

/* Estilos page perfiles */

.container_perfiles{
  width: 1000px;
  margin: 0 auto;
}

.title_perfiles h3{
  text-align: center;  
  font-size: 41px;
  letter-spacing: 0px;
  font-style: normal;
  color: #FFFFFF;
  opacity: 1;
  text-align: left;
}

.letras_buscador{
  display: flex;
  justify-content: center;
  column-gap: 10px;
}

.letras_buscador button{
  border: 2px solid #CBAA07;
  border-radius: 7px;
  opacity: 1;
  background-color: #000000;
  color: #CBAA07;
  width: 36px;
  height: 36px;
  font-size: 22px;
}

.letras_buscador button:hover{
  background-color: #CBAA07;
  color: #000000;
  border: 2px solid #000000;
}

.conten_perfiles{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 30px;
  margin-top: 50px;
}

.perfil{
  width: 214px;
}

.conten_perfiles h3{
  text-align: center; 
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
  font-size: 27px;
  font-style: normal;
}

@media screen and (max-width: 768px) {
  .header {
    width: 100%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container {
    width: 96%;
  }
}

@media screen and (max-width: 480px) {
  .container {
    width: 90%;
  }
}
